/*menu header*/
.head{
    display:flex;
}

.back{
    margin-top: 15px;
    margin-left: 20px;
}
.fa-arrow-left{
    font-size: 20px;
}

/*---------------------------------------------------*/
/*menu dish image*/
.background-img{
    height: 250px;
    & img{
        height: 120%;
        width: 100%;
        object-fit:cover;
    }
}
/*---------------------------------------------------*/
/*menu*/
.background{
    background-color: $background-grey;
    min-height: 450px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
}
.menu-title-favorite{
    display:flex;
}

.menu-title{
    font-size:25px;
    width: 90%;
    margin-top: 25px;
    margin-left:10px;
}

.course{
    height: 30px;
    margin-left:10px;
    margin-top: 35px;

}

.line{
    height: 10px;
    margin-left:20px;
    margin-top: -15px;
    color: $color-tertiary;
}

.fa-minus{
    transform: scale(2.7,1);
}

.fa-check-circle{
    color:white;
    transition: transform 1500ms ease;
}

.dish-box{
    cursor:pointer;
    display: block;
    border-radius: 15px;
    background-color: white;
    height: 70px;
    width: 95%;
    margin:auto;
    margin-top:14px;
    display:flex;
    box-shadow: 4px 4px 4px 2px #dcdcdc;
    animation: appearIn0 1700ms ease-in;
    overflow: hidden;
    &__text{
        width: 90%;
        height: 50px;
        margin: auto;
        &__title{
            width:150px;
            height: 20px;
            margin-left:10px;
            inline-size: 95%;             
            overflow: hidden;                
            text-overflow: ellipsis;      
            /*white-space: nowrap;*/  
        }
        &__comment{
            height: 20px;
            margin-left:10px;
            font-size: 14px;
            margin-top:2px;
            inline-size: 95%;             
            overflow: hidden;             
            text-overflow: ellipsis;      
            /*white-space: nowrap;*/
        }
    }
    &__price{
        height: 20px;
        margin-top: 37px;
        padding-right: 45px;
    }
}

.add{
    width: 100px;
    padding-top: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: $color-tertiary;
    margin-right: -135px;
    transition: margin-right 1500ms ease;
}

.dish-box:hover .add{
    margin-right: 0;
}

.check-icon{
    font-size: 25px;
}

.dish-box:hover .fa{
    width: fit-content;
    margin: auto;
    transform: rotate(-360deg);
}

.first-dish{
    animation-duration: 1000ms;
}
  
.second-dish{
    animation-duration: 1100ms;
}

.third-dish{
    animation-duration: 1200ms;
}

.fourth-dish{
    animation-duration: 1300ms;
}
.order-button{
    height:200px;
}

button{
    height: 50px;
    border-radius: 50px;
    background-image: linear-gradient(2deg, $color-primary, $color-secondary);
    color: white;
    border: none;
    width: 50%;
    margin-top:50px;
    box-shadow: 4px 4px 4px 2px $color-shadow;
    transition: all 550ms ease-in-out;
    &:hover{
        background-image: linear-gradient(2deg, rgba(147,86,220,0.8), rgba(255, 121, 218, 0.8));
        box-shadow: 4px 4px 4px 2px darken($color-shadow,10%);
    }
}

/* favorite heart */

.favorite {
    height: 20px;
    margin-top: 27px;
}
.favotite .open-heart{
    font-size: 25px;
}

.favotite:hover .open-heart{
    display:none;
}
.favorite:hover .full-heart{
    display:inline;
    animation: fadeIn 500ms;
    animation-fill-mode: forwards;
    margin-left: -21px;
    font-size: 17px;
}
.favorite .full-heart{
    color:$color-primary;
    display:none;
}

/**************************************************
                    ANIMATIONS
**************************************************/

@keyframes appearIn0{
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

