
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$new-text:#496C63;
$background-grey:#F6F6F6;
$color-shadow: #DCDCDC;
$background-title:#eaeaea;
$purple-hover:#f5edff;
$color-footer:#4B4B4B;
